
@media (min-width: 1024px) {
    .section-title{
        font-size: 28px;
    }
    header .header-top .right {
        display: none;
    }
    header {
        padding: 0;
    }
    header .header-top {
        padding: 22px 0 11px 0;
    }
    /*header desctop styles*/

    header .header-top .gift-cert {
        color: #f34747;
        font-size: 14px;
    }
    header .header-top .number {
        font-size: 13px;
        color: #f34747;
        font-weight: 600;
    }
    .language a {
        font-size: 12px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 12px;
        font-weight: 600;

    }
    .language a:first-child{
        border-right: 1px solid #ffffff;
    }
    .language a.active{
        color: #f34747;
    }
    .right-pc {
        display: flex;
        align-items: center;
    }
    .right-pc .language {
        margin-left: 23px;
    }
    header nav {
        display: flex;
        border-top: 1px solid #f34747;
        border-bottom: 1px solid #f34747;
    }
    header nav .nav-wrap{
        border-left: 1px solid #f34747;
        border-right: 1px solid #f34747;
    }
    header nav .nav-menu {
        border-right: 1px solid #f34747;
        width: 77%;
    }
    .call-me-box {
        width: 245px;
    }
    header nav .nav-menu li {
        padding: 14px 30px;
    }
    header nav .nav-menu li.active a {
        color: #f34747;
    }
    header nav .nav-menu li a {
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        transition: .4s ease-in-out;
    }
    .main-banner p {
        margin-bottom: 22px;
    }
    #visiting .section-title {
        margin-bottom: 12px;
    }
    header nav .nav-menu li a:hover{
        color: #f34747;
    }
    header nav .call-me {
        font-size: 13px;
        color: #ffffff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 19px 0;
        text-align: center;
        margin: 0 auto;
    }
    header .header-top {
        align-items: center;
    }
    header nav,
    header .call-me,
    header .gift-cert{
        display: block;
    }
    header .right-pc ,
    header .language {

        display: flex;
    }

    header {
        height: 117px;
        background: url("../images/header-bg-pc.png");
    }
    #home {
        padding: 400px 0 67px 0;
        background: url("../images/home-bg-pc.png")no-repeat center bottom;
        background-size: cover;
    }
    #home .home-box {
        text-align: center;
        padding: 0;
    }
    #home .home-box .title {
        font-size: 45px;
        margin-top: 25px;
        line-height: 54px;
        margin-bottom: 0;
    }
    #home .home-box .button {
        margin: 0 auto;
    }

    #home .home-box p {
        font-size: 18px;
        line-height: 25px;
        width: 71%;
        margin: 20px auto 25px auto;

    }
    #we-do .box .title {
        font-size: 18px;
        line-height: 25px;
    }
    #we-do .box {
        margin-bottom: 0;
    }
    #popular .popular-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    #popular .section-title-wrap a {
        display: flex;
    }
    #popular .button2 {
        display: flex;
    }
    .popular-slider .ex-card {
        margin-right: 0;
    }
    .popular-slider {
        padding-left: 0;
    }
    #popular .section-title {
        padding-left: 0;
        margin-bottom: 25px;
    }
    .ex-card .card-body .description {
        font-size: 16px;
        padding-right: 30px;
        margin: 20px 0;
    }
    .ex-card .card-body .description br {
        display: none;
    }
    .ex-card .card-body .price, .ex-card .card-body .time {
        font-weight: 500;
    }
    .ex-card .card-body .rating img {
        width: 20px;
        height: 20px;
    }
    .ex-card .card-header .title {
        font-size: 18px;
    }
    .ex-card .card-header {
        width: 100%;
        height: 140px;
    }
    #military-quests {
        padding: 50px 0;
    }
    #military-quests .card-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    #military-quests .ex-card .card-header {
        height: 220px;
    }
    .footer-center{
        display: flex;
        align-items: baseline;
    }
    .footer-center .footer-nav li a {
        font-size: 16px;
    }
    .footer-center .payments{
        order: 4;
    }
    .footer-center .payments img {
        width: 255px;
    }
    .footer-center .contacts {
        padding: 0;
        margin: 0 80px 0 125px;
    }
    .footer-center .contacts .number-box {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }
    .footer-center .contacts .number-box a:first-child {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer-center .contacts .number-box a {
        font-size: 16px;
    }
    .footer-center .contacts .title {
        font-size: 16px;
    }
    .main-banner {
        width: 1100px;
        margin: 0 auto;
        height: 161px;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }
    .main-banner br {
        display: none;
    }
    .main-banner .container {
        padding: 0;
    }
    .main-banner {
        height: 160px;
        position: relative;
        overflow: hidden;
    }
    .main-banner .content {
        position: relative;
        z-index: 100;
    }
    .mouse-parallax-bg,
    .mouse-parallax-bg-two ,
    .mouse-parallax-bg-three {
        position: absolute;
        left: 0;
        top: 0;
        background-image: url("../images/why-pc.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 120%;
        height: 220px;
        transition: all 0.1s ease;
    }
    #visiting {
        background: none;
        height: 160px;
        position: relative;
        background-size: cover;
    }

    #by-the-way.mouse-parallax-bg-three {
        background-image: url("../images/by-the-way-pc.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #popular .container {
        padding: 0 20px;
    }
    /*hub-excursion styles start*/
    #bunker .info{
        width: 30%;
        text-align: left;
        margin-right: 300px;
        padding: 106px 0 35px 0;
    }
    #bunker .bunker-box {
        display: flex;
        align-items: center;
        padding: 25px 61px 25px 61px;
        background: url("../images/bunker.png")no-repeat center bottom;
        background-size: cover;
        height: 300px;
    }
    #bunker .info .section-title {
        margin-bottom: 30px;
    }
    #bunker iframe {
        display: none;
    }


    #excursion .excursion-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    #excursion .button.all {
        width: 292px;
        margin: 40px auto 0 auto;
    }
    #excursion .excursion-box .ex-card {
        margin-bottom: 0;
    }
    #points .popular-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 41px;
    }
    #faq .section-title {
        font-size: 16px;
        margin-bottom: 33px;
    }
    #faq .faq-box {
        padding: 35px;
    }
    #faq .faq-box .question {
        margin-bottom: 2px;
    }
    #guides {
        padding: 100px 0 70px 0;
    }
    #map {
        width: 393px;
        height: 100%;
    }
    #guides .container {
        padding: 0 20px;
    }
    #guides .guide-wrap {
        display: grid;
        grid-template-columns: 0.7fr 1.9fr;
        grid-column-gap: 92px;
    }
    #guides.firetag .guide-wrap {
        display: grid;
        grid-template-columns: 0.9fr 1.9fr;
        grid-column-gap: 11px;
    }
    #guides .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 96px 16px 20px 16px;
        margin: 0;
    }
    #guides .left .title {
        font-size: 20px;
        line-height: 24px;
    }
    #guides .left:before {
        height: 115%;
        background-size: cover;
    }
    #guides .tabs__content{
        height: 300px;
    }
    #guides .tabs__content img {
        height: 100%;
        width: 395px;
    }
    #guides .address {
        margin: 0;
    }
    #guides .title-box {
        display: flex;
        margin-bottom: 20px;
        align-items: center;
    }
    #guides .title-box .section-title {
        margin: 0;
        font-size: 20px;
        line-height: 20px;
    }
    #guides .tabs .tabs__caption {
        display: flex;
        margin: 0 0 0 115px;
    }
    #guides .tabs__content.active {
        flex-direction: row;
    }
    #guides .tabs__content .info {
        margin: 84px  0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #guides .tabs__content .info .address-box {
        margin-right: 0;
    }
    #guides .tabs__content .info .title {
        margin-bottom: 20px;
    }
    #guides .tabs__content .info p {
        font-size: 16px;
        line-height: 23px;
    }
    #special-offer {
        padding: 37px 0 30px 0;
        background: url("../images/special-offer-pc.png")no-repeat center;
        background-size: cover;
    }
    #special-offer .btn-groups {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #special-offer .box p {
        font-size: 16px;
        line-height: 23px;
        width: 60%;
        margin: 0 auto 34px auto;
    }
    #special-offer .box .section-title {
        margin-bottom: 20px;
    }
    #special-offer .button,
    #special-offer .button2 {
        width: 145px;
    }
    #reviews-rating .wrapper {
        display: grid;
        grid-template-columns: 0.4fr 0.8fr;
    }
    #reviews-rating .rating {
        display: flex;
        flex-direction: column;
    }
    #reviews-rating .reviews {
        margin-top: 0;
    }
    #reviews-rating .rating .rating-box .section-title {
        margin-bottom: 5px;
    }
    #reviews-rating .rating .rating-box .rating-num {
        font-size: 102px;
        line-height: 111px;
        margin-bottom: 16px;
    }
    #reviews-rating .rating-category .progress {
        height: 15px;
        width: 182px;
    }
    #reviews-rating .progress-bar {
        height: 15px;
    }
    #reviews-rating .section-title {
        font-size: 20px;
    }
    #reviews-rating .reviews .title {
        margin: 20px 0;
    }
    #reviews-rating .reviews .review-header .name {
        margin: 0 60px 0 85px;
    }
    #reviews-rating .description {
        font-size: 12px;
        color: #a9a9a9;
        line-height: 20px;
        font-style: italic;
    }
    #reviews-rating .button {
        height: 45px;
        margin-top: 38px;
    }
    #reviews-rating .reviews .button2 {
        width: 180px;
        margin-top:61px;
    }
    .map {
        width: 390px;
        height: 300px;
    }
    .map iframe {
        height: 300px;
    }
        /*hub-excursion styles end*/
    /*card.html styles start*/
    #card-home .container {
        padding: 0 20px;
    }
    #card-home .slick-prev,
    #card-home .slick-next {
        display: none!important;
    }
    #card-home .navigation {
        display: flex;
       
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
    }
    #card-home .card-main-slider .item {
        background: none;
        background-size: cover;
        height: 250px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .card-main-slider .slick-track {
        left: -20px;
    }
    #card-home .slick-dots {
        bottom: -25px;
        width: 100%;
    }
    #card-home {
        padding: 150px 0 45px 0 ;
    }
    #card-home .navigation  a{
        font-size: 14px;
        color: #a9a9a9;
        font-weight: 600;
    }
    #card .card-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column-gap: 55px;
    }
    #card .card-info .info {
        order: 1;
    }
    #card .section-title.pc {
        display: block;
    }
    #card .excursion-details .details-header {
        grid-template-columns: 0.6fr 1fr;
        display: grid;
        grid-column-gap: 46px;
    }
    #card .excursion-details .title {
        color: #ffffff;
        font-size: 16px;
        line-height: 23px;
        width: 70%;
    }
    #card .section-title{
        margin-bottom: 18px;
    }
    #card .excursion-details{
        margin-top: 0;
    }
    #card .excursion-details .details .item {
        grid-template-columns: 0.6fr 1fr;
        margin-bottom: 7px;
    }
    #card .excursion-details .text {
        margin-bottom: 55px;
    }
    #card .excursion-details .text p:first-child {
        margin-bottom: 18px;
    }
    #card .excursion-details .text p {
        font-size: 16px;
        line-height: 23px;
    }
    #card .card-info .price-box .button {
        width: 250px;
        height: 45px;
    }
    #card .card-info .section-title.mobile {
        display: none;
    }
    #card .card-info .info-header {
        flex-direction: column;
        margin-bottom: 33px;
    }
    #card .card-info .info-header .head{
        margin-bottom: 30px;
    }
    #card .card-info .info-header .head .top {
        display: block;
    }
    #card .card-info .info-header .head .top  img{
        width: 35px;
        height: 14px;
    }
    #card .card-info .info-header .rating-img {
        margin-right: 6px;
    }
    #card .card-info  .warning-text {
        display: block;
        margin-top: 38px;
    }
    #card .excursion-details .war-text {
        width: 58%;
        margin-left: auto;
    }
    #card .card-info  .warning-text span {
        font-size: 12px;
        color: #f34747;
        font-weight: 700;
        text-transform: uppercase;
    }
    #card .card-info  .warning-text p {
        font-size: 14px;
        color: #ffffff;
        font-weight: 500;
        line-height: 23px;
    }
    .card-main-slider  .slick-slider .slick-list {
        margin: 0 20px;
    }
    #popular.any-excursion {
        display: block;
    }
    #popular.any-excursion .section-title-wrap {
        margin-bottom: 25px;
    }
    #popular.any-excursion .section-title {
        margin-bottom: 0;
    }
    #review-popup .section-title {
        display: block;
    }
    #review-popup {
        padding: 48px 50px 46px 50px;
    }
    #reviews-rating .rating .button{
        display: flex;
    }
    #reviews-rating .rating .description.pc {
        display: block;
        margin-top: 0;
        padding-right: 70px;
    }
    #reviews-rating .description.mobile{
        display: none;
    }
    #guides .button{
        display: none;
    }
    header .logo img.pc {
        display: block;
    }
    header .logo img.mobile {
       display: none;
    }
    #review-popup .contacts form,
    #review-popup .contacts textarea {
        height: 100%;
    }
    #review-popup .left-col .details .time-date {
        align-items: baseline;
        flex-direction: column;
    }
    #review-popup .left-col .rating-box {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 35px;
    }
    #review-popup .left-col .rating-box .subtitle {
        margin-right: auto;
        width: 50%;
    }
    #review-popup .button {
        width: 295px;
        margin: 25px auto 0 auto;
    }
    /*card.html styles end*/
    /*firetag.html styles start*/

    #home.firetag {
        background: url(../images/firetag-bg-pc.png)no-repeat bottom;
        background-size: cover;
        padding: 450px 0 37px 0;
    }
    #home.firetag .title span {
        display: inline;
    }
    #home.firetag .button {
        margin-top: 37px;
    }
    #firetag .box {
        display: grid;
        grid-template-columns: 0.5fr 0.6fr;
        grid-column-gap: 100px;
    }
    #firetag .info {
        margin-bottom: 40px;
        margin-top: 70px;
        order: 2;
    }
    #firetag .gif img {
        border-radius: 10px;
    }
    #firetag .section-title {
        margin-bottom: 30px;
    }
    #firetag .description p:first-child {
        margin-bottom: 30px;
    }
    #firetag {
        padding: 100px 0 80px 0;
    }
    #popular.equipment .popular-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    .equipment .ex-card .card-header {
        height: 200px;
        padding: 0 0 15px 12px;
    }
    .equipment .ex-card .card-header.gun {
        background-position: center;
    }
    #second-banner {
        padding: 90px 0 80px 0;
        margin: 0 98px;
        border-radius: 10px;
        background: url("../images/firetag-bg2-pc.png")no-repeat center;
        background-size: cover;
    }
    #second-banner .section-title {
        color: #f34747;
        margin-bottom: 28px;
    }
    #second-banner .description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    #game-format {
        padding: 70px 0 80px 0;
    }
    #game-format .format-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    #game-format .ex-card.pvp {
        margin-bottom: 0;
    }
    #game-format .ex-card .card-header {
        margin-bottom: 41px;
        height: 200px;
    }
    #game-format .ex-card .card-body .options:first-child {
        margin-bottom: 12px;
    }
    #game-format .ex-card .card-body .options .item {
        grid-template-columns: 0.7fr 1fr;
    }
    #game-format .ex-card .card-body .subtitle {
        font-size: 16px;
        margin-bottom: 37px;
    }
    #game-format .ex-card .card-body .description {
        font-size: 16px;
        margin-bottom: 37px;
        margin-top: 0;
    }
    #game-format .ex-card .card-body .options .name,
    #game-format .ex-card .card-body .options .ans {
        font-size: 16px;
    }

    #team-building .box {
        padding: 50px 62px 30px 62px;
        background: url("../images/corporate-pc.png")no-repeat center;
        background-size: cover;
        display: flex;
    }
    #team-building .box h2 {
        margin-bottom: 0;
    }
    #team-building .box .bottom {
        margin: 0 82px 0 75px ;
    }
    #team-building .box p {
        margin-bottom: 37px;
    }
    .partners .title{
        margin-bottom: 56px;
    }
    /*firetag.html styles end*/
}
@media (min-width: 1024px) and (max-width: 1200px){
    .call-me-box {
        width: 206px;
    }
    header nav .nav-menu li {
        padding: 16px 25px;
    }
    .footer-center .footer-nav li a {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    .white-popup-block .popup-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }

    .white-popup-block {
        width: 100%;
        padding: 0 0 30px 0;
        border: none;
        background: none;
    }

    .white-popup-block .contacts {
        margin-top: 20px;
    }

    .mfp-close {
        top: -15px;
        right: 15px;
    }

    .white-popup-block .section-title {
        margin-bottom: 20px;
    }

    .white-popup-block {
        border: none;
        background: none;
    }

    .mfp-bg {
        opacity: 1;
    }

    .mfp-content {
        padding: 70px 20px 0 20px;
    }

    .callback-form {
        bottom: 0;
        width: 100%;
        position: fixed;
        top:auto;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 30px;
    }

    #bunker .bunker-box {
        flex-direction: column;
        padding: 40px 0 60px 20px;
        height: 630px;
    }
    #bunker .slick-prev,
    #bunker .slick-next {
        display: none!important;
    }
    #bunker .bunker-box .section-title {
        line-height: 28px;
    }

    #bunker .info {
        width: 100%;
        text-align: center;
        margin-bottom: 36px;
    }
    #bunker .cards-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    #bunker .inner {
        width: 100%;
    }
    .partners .title{
        font-size: 24px;
    }
    #guides .address .section-title {
        font-size: 24px;
    }
    #bunker .cards-wrapper .card.card-box {
        width: 258px;
        background: none;
        height: 390px;
        position: relative;
    }
    #bunker .cards-wrapper .card.card-box .box {
        width: 258px;
        height: 100%;
        padding: 0 22px 100px 22px;
        display: flex;
        align-items: flex-end;
    }
    #bunker .cards-wrapper .card.card-box .box:after {
        width: 100%;
        border-radius: 10px;
        background: none;
        background-image: -moz-linear-gradient( 134deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 134deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 134deg, rgb(0,0,0) 0%, rgb(255,255,255) 100%);
        opacity: 0.2;
    }
    #bunker .cards-wrapper .card.card-box:nth-child(1) ,
    #bunker .cards-wrapper .card.card-box:nth-child(2) ,
    #bunker .cards-wrapper .card.card-box:nth-child(3) ,
    #bunker .cards-wrapper .card.card-box:nth-child(4) ,
    #bunker .cards-wrapper .card.card-box:nth-child(5) ,
    #bunker .cards-wrapper .card.card-box:nth-child(6) ,
    #bunker .cards-wrapper .card.card-box:nth-child(7) ,
    #bunker .cards-wrapper .card.card-box:nth-child(8) {
        left: 0;
    }
    #bunker .slick-track {
        position: relative;
        flex-direction: row-reverse;
        display: flex;
    }
    #bunker .cards-wrapper .card.card-box .box p {
        font-size: 24px;
        line-height: 30px;
    }
    #bunker .cards-wrapper .card.card-box .box p span {
        font-style: italic;
    }
    #bunker .cards-wrapper {
        width: 100%;
        margin: 0 auto;
    }
    #bunker .cards-wrapper .card.card-box .box .num {
        position: absolute;
        right: 20px;
        top: 0;
        width: 35px;
        height: 60px;
        background: url(../images/shape_num.png)no-repeat;
        background-size: contain;
        display: flex;
        padding-top: 5px;
        justify-content: center;
        font-size: 27px;
        color: #ffffff;
        font-weight: 700;
    }

}