
@media (min-width: 1024px) {
    .section-title{
        font-size: 28px;
    }
    header .header-top .right {
        display: none;
    }
    header {
        padding: 0;
    }
    header .header-top {
        padding: 22px 0 11px 0;
    }
    /*header desctop styles*/

    header .header-top .gift-cert {
        color: #f34747;
        font-size: 14px;
    }
    header .header-top .number {
        font-size: 13px;
        color: #f34747;
        font-weight: 600;
    }
    .language a {
        font-size: 12px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 0 10px;
        line-height: 12px;
        font-weight: 600;

    }
    .language a:first-child{
        border-right: 1px solid #ffffff;
    }
    .language a.active{
        color: #f34747;
    }
    .right-pc {
        display: flex;
        align-items: center;
    }
    .right-pc .language {
        margin-left: 23px;
    }
    header nav {
        display: flex;
        border-top: 1px solid #f34747;
        border-bottom: 1px solid #f34747;
    }
    header nav .nav-wrap{
        border-left: 1px solid #f34747;
        border-right: 1px solid #f34747;
    }
    header nav .nav-menu {
        border-right: 1px solid #f34747;
        width: 77%;
    }
    .call-me-box {
        width: 245px;
    }
    header nav .nav-menu li {
        padding: 14px 30px;
    }
    header nav .nav-menu li.active a {
        color: #f34747;
    }
    header nav .nav-menu li a {
        font-size: 13px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        transition: .4s ease-in-out;
    }
    .main-banner p {
        margin-bottom: 22px;
    }
    #visiting .section-title {
        margin-bottom: 12px;
    }
    header nav .nav-menu li a:hover{
        color: #f34747;
    }
    header nav .call-me {
        font-size: 13px;
        color: #ffffff;
        font-weight: 900;
        text-transform: uppercase;
        padding: 19px 0;
        text-align: center;
        margin: 0 auto;
    }
    header .header-top {
        align-items: center;
    }
    header nav,
    header .call-me,
    header .gift-cert{
        display: block;
    }
    header .right-pc ,
    header .language {

        display: flex;
    }

    header {
        height: 117px;
        background: url("../images/header-bg-pc.png");
    }
    #home {
        padding: 400px 0 67px 0;
        background: url("../images/home-bg-pc.png")no-repeat center bottom;
        background-size: cover;
    }
    #home .home-box {
        text-align: center;
        padding: 0;
    }
    #home .home-box .title {
        font-size: 45px;
        margin-top: 25px;
        line-height: 54px;
        margin-bottom: 0;
    }
    #home .home-box .button {
        margin: 0 auto;
    }

    #home .home-box p {
        font-size: 18px;
        line-height: 25px;
        width: 75%;
        margin: 20px auto 25px auto;

    }
    #we-do .box .title {
        font-size: 18px;
        line-height: 25px;
    }
    #we-do .box {
        margin-bottom: 0;
    }
    #popular .popular-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }
    #popular .section-title-wrap a {
        display: flex;
    }
    #popular .button2 {
        display: flex;
    }
    .popular-slider .ex-card {
        margin-right: 0;
    }
    .popular-slider {
        padding-left: 0;
    }
    #popular .section-title {
        padding-left: 0;
        margin-bottom: 25px;
    }
    .ex-card .card-body .description {
        font-size: 16px;
        padding-right: 30px;
        margin: 20px 0;
    }
    .ex-card .card-body .description br {
        display: none;
    }
    .ex-card .card-body .price, .ex-card .card-body .time {
        font-weight: 500;
    }
    .ex-card .card-body .rating img {
        width: 20px;
        height: 20px;
    }
    .ex-card .card-header .title {
        font-size: 18px;
    }
    .ex-card .card-header {
        width: 100%;
        height: 140px;
    }
    #military-quests {
        padding: 50px 0;
    }
    #military-quests .card-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }
    #military-quests .ex-card .card-header {
        height: 220px;
    }
    .footer-center{
        display: flex;
        align-items: baseline;
    }
    .footer-center .footer-nav li a {
        font-size: 16px;
    }
    .footer-center .payments{
        order: 4;
    }
    .footer-center .payments img {
        width: 255px;
    }
    .footer-center .contacts {
        padding: 0;
        margin: 0 80px 0 125px;
    }
    .footer-center .contacts .number-box {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }
    .footer-center .contacts .number-box a:first-child {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer-center .contacts .number-box a {
        font-size: 16px;
    }
    .footer-center .contacts .title {
        font-size: 16px;
    }
    .main-banner {
        width: 1100px;
        margin: 0 auto;
        height: 161px;
        display: flex;
        justify-content: flex-end;
        text-align: center;
    }
    .main-banner br {
        display: none;
    }
    .main-banner .container {
        padding: 0;
    }
    #visiting {
        background: url("../images/why-pc.png")no-repeat center;
        height: 160px;
        background-size: cover;
    }
    #by-the-way {
        background: url("../images/by-the-way-pc.png")no-repeat;
        background-size: cover;
    }
    #popular .container {
        padding: 0 20px;
    }
    /*hub-excursion styles start*/
    #excursion .excursion-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    #excursion .button.all {
        width: 292px;
        margin: 40px auto 0 auto;
    }
    #excursion .excursion-box .ex-card {
        margin-bottom: 0;
    }
    #points .popular-slider {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 41px;
    }
    #faq .section-title {
        font-size: 16px;
        margin-bottom: 33px;
    }
    #faq .faq-box {
        padding: 35px;
    }
    #faq .faq-box .question {
        margin-bottom: 2px;
    }
    #guides .guide-wrap{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 80px;
    }
    #guides .left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 96px 16px 20px 16px;
        margin: 0;
    }
    #guides .tabs__content img {
        height: 300px;
    }
    #guides .address {
        margin: 0;
    }
    #special-offer {
        padding: 37px 0 30px 0;
        background: url("../images/special-offer-pc.png")no-repeat center;
        background-size: cover;
    }
    #special-offer .btn-groups {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #special-offer .box p {
        font-size: 16px;
        line-height: 23px;
        width: 60%;
        margin: 0 auto 34px auto;
    }
    #special-offer .box .section-title {
        margin-bottom: 20px;
    }
    #special-offer .button,
    #special-offer .button2 {
        width: 145px;
    }
    #reviews-rating .wrapper {
        display: grid;
        grid-template-columns: 250px auto;
        grid-column-gap: 92px
    }
    #reviews-rating .rating {
        display: flex;
        flex-direction: column;
    }
    #reviews-rating .reviews {
        margin-top: 0;
    }

    /*hub-excursion styles end*/
}
@media (min-width: 1024px) and (max-width: 1200px){
    .call-me-box {
        width: 206px;
    }
    header nav .nav-menu li {
        padding: 16px 25px;
    }
    .footer-center .footer-nav li a {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    .white-popup-block .popup-body {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
    }
    .white-popup-block {
        width: 100%;
        margin: 10% auto;
        padding: 30px 0;
        border: none;
        background: none;
    }
    .white-popup-block .contacts {
        margin-top: 20px;
    }
    .mfp-close {
        top: 15px;
        right: 15px;
    }
    .white-popup-block .section-title {
        margin-bottom: 20px;
    }
    .white-popup-block {
        border: none;
        background: none;
    }
    .mfp-bg {
        opacity: 1;
    }
    .mfp-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}